button {
    display: inline-block;
    /* height: 134px; */
    /* padding: 10; */
    /* margin: 10; */
    /* vertical-align: top; */
    background-color: white;
    border-color: white;
    /* width: 104px; */
}

.btn-group-vertical{
    width: 50px;
}
body { 
    padding-top: 10px;
    background: grey;
 }
.column{
    background: white;
}
.image_button{
    background-size: 35px 35px;
    height: 35px;  
    width: 35px;
}
ul {
    list-style-type:none;
    padding: 0;
}
/* li{
    height: 30px;  
    width: 30px;
} */
.grid{
    height: 51rem;
    width: 1100px;
    /* align-items: center; */
}
.toolbarBorder{
    border: 2px solid grey;
    /* broder2px solid red */
}
.layBar{
    /*  */
    background-color: white;
    width: 23rem;
    height: 25rem;
}
.tileBar{
    text-align: center;
    background-color: white;
    width: 23rem;
    height: 25.5rem;
}
.title{
    margin-left: -20rem;
    /* align-self; */
    font-size: x-large;
    color: gray;
    /* margin: -1rem; */
}
.layBarTitle{
    text-align: center;
    align-self: center;
    font-size: large;
    color: gray;
}


#imageButton1 {background-image: url( './icon1.png' );}
#imageButton2 {background-image: url( './icon2.png' );}
#imageButton3 {background-image: url( './icon3.png' );}
#imageButton4 {background-image: url( './icon4.png' );}
#imageButton5 {background-image: url( './icon5.png' );}
#imageButton6 {background-image: url( './icon6.png' );}
#imageButton7 {background-image: url( './icon7.png' );}
#imageButton8 {background-image: url( './icon8.png' );}
#imageButton9 {background-image: url( './icon9.png' );}
#imageButton10 {background-image: url( './icon10.png' );}
#imageButton11 {background-image: url( './icon11.png' );}
#imageButton12 {background-image: url( './icon12.png' );}
#imageButton13 {background-image: url( './icon13.png' );}
#imageButton14 {background-image: url( './icon14.png' );}
#imageButton15 {background-image: url( './icon15.png' );}
#imageButton16 {background-image: url( './icon16.png' );}
#imageButton17 {background-image: url( './icon17.png' );}
#imageButton18 {background-image: url( './icon18.png' );}
#imageButton19 {background-image: url( './icon19.png' );}

#gridImage {background-image: url( './grid.png' );}
