#canvas-body {
    margin-left: 2%;
    height: 100%;
    width: 96%;
    background-color: rgb(246, 246, 246);
}

#canvas-toolbar {
    margin: 0;
}

.canvas-icon {
    height: 32px !important;
    width: 38px !important;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: white !important;
}

.canvas-icon:hover {
    background-color: #b621fe !important;
}

.grid {
    margin: 0 !important;
    height: 90vh;
    width: 70%;
    background-size: 100%;
}

.layer-bar {
    background-color: white;
    margin-left: 2%;
    width: 18rem;
    height: 45vh;
}

.canvas-title {
    background-color: #1fd1f9;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.fa-eye {
    color: white !important;
}

.fa-trash {
    color: white !important;
}


#imageButton1 {background-image: url("../images/icon1.png");}
#imageButton2 {background-image: url("../images/icon2.png");}
#imageButton3 {background-image: url("../images/icon3.png");}
#imageButton4 {background-image: url("../images/icon4.png");}
#imageButton5 {background-image: url("../images/icon5.png");}
#imageButton6 {background-image: url("../images/icon6.png");}
#imageButton7 {background-image: url("../images/icon7.png");}
#imageButton8 {background-image: url("../images/icon8.png");}
#imageButton9 {background-image: url("../images/icon9.png");}
#imageButton10 {background-image: url("../images/icon10.png");}
#imageButton11 {background-image: url("../images/icon11.png");}
#imageButton12 {background-image: url("../images/icon12.png");}
#imageButton13 {background-image: url("../images/icon13.png");}
#imageButton14 {background-image: url("../images/icon14.png");}
#imageButton15 {background-image: url("../images/icon15.png");}

#gridImage {background-image: url("../images/grid.png");}